@model MultiSis.Domain.PermissaoGrupoAcessoTela

<div class="titulo-pagina">
    <h1 class="margin-bottom">Alterar permissões de tela para o grupo</h1>
</div>

@using (Html.BeginForm())
{
    
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => Model.IdGrupoAcesso);
    @Html.HiddenFor(model => Model.Id);
    @Html.HiddenFor(model => Model.IdTela);
                                                                   
    <table class="table table-striped table-bordered table-hover" >
        <tr>
            <th>
                Salva
            </th>
            <th>
                Altera
            </th>
            <th>
                Exclui
            </th>
            <th>
                Tela
            </th>
        </tr>
        <tr>
            <td style="text-align: center">
                @Html.EditorFor(modelItem => modelItem.Salva)
            </td>
            <td style="text-align: center">
                @Html.EditorFor(modelItem => modelItem.Altera)
            </td>
            <td style="text-align: center">
                @Html.EditorFor(modelItem => modelItem.Exclui)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Tela.Nome)
            </td>
        </tr>
    </table>        
    <div class="clear label">
        <span>
            <button class="btn btn-success" id="btnsalvar" type="submit" value="Salvar">Salvar</button>
            <button class="btn btn-default" id="btnCancelar" value="Cancelar" title="Cancelar">Cancelar</button>
        </span>
    </div>
}