@model IEnumerable<MultiSis.Domain.GrupoAcessoUsuario>

<div class="titulo-pagina">
    <h1 class="margin-bottom">Grupos de acesso</h1>
</div>

<button type="button" title="Cadastrar grupo acesso">@Html.ActionLink("Cadastrar grupo acesso", "cadastrar")</button>

<table class="table table-striped table-bordered table-hover" >
    <tr>
        <th>Grupo acesso
        </th>
        <th>Usuário
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.GrupoAcesso.Nome
            </td>
            <td>
                @item.Usuario.Nome
            </td>
            <td>
                @Html.ActionLink("Alterar", "alterar", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Excluir", "delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
