@model List<MultiSis.Domain.ContaBancaria>
<script src="~/Scripts/View/Conta/Conta.js"></script>
<div id="conteudo_pagina">
    <table class="table table-striped table-bordered table-hover" >
        <tr>
            <th></th>
            <th>Banco
            </th>
            <th>Agência</th>
            <th>Conta</th>
            <th>Nome do titular
            </th>
        </tr>
        @foreach (var c in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Selecionar", "detalhe", "conta", new { id = c.Id }, null)
                </td>
                <td>
                    @c.Banco.Nome
                </td>
                <td>
                    @c.Agencia
                </td>
                <td>
                    @c.NumeroConta
                </td>
                <td>
                    @c.Pessoa.Nome
                </td>
            </tr>
        }
    </table>
</div>
