@model MultiSis.Administrativo.Models.CampanhaModel

<div class="titulo-pagina">
    <h1 class="margin-bottom">Adicionar arquivo à campanha - @Model.DadosCampanha.Nome</h1>
</div>

<script>
    $(function () {
        if ('@ViewBag.Mensagem' != '')
            MensagemOK('@ViewBag.Mensagem');
    });
</script>

@using (Html.BeginForm("newarquivo", "campanha", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.IdCampanha)
    @Html.HiddenFor(m => m.DataExpiracaoCampanha)
    
    <div class="label">
        @Html.LabelFor(m => m.DadosArquivo.Duracao, "Duração em segundos")
    </div>
    <div class="text">
        @Html.TextBoxFor(m => m.DadosArquivo.Duracao, new { @class = "numero", text = "15", onClick = "javascript:$(this).val('');" }) padrão: 15 segundos
    </div>
    
    <div class="label">
        @Html.Label("Arquivo")
    </div>
    <div class="text">
        <input type="file" name="file" />
    </div>
    
    <div class="label">
        <span>
            <button class="btn btn-success" id="btnSalvar" type="submit" value="Salvar pessoa" title="Salvar">Salvar</button>
            <button class="btn btn-default" onclick="javascript:window.location='/'; return false;" value="Cancelar" title="Cancelar">Cancelar</button>
        </span>
    </div>
}